<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://beust.com/testng/testng-1.0.dtd" >
<suite name="TmpSuite">
    <listeners>
    	<listener class-name="com.mmo.util.Transform"/>
    	<listener class-name="com.mmo.util.TestNGCustomReport"/>
	</listeners>
	<test name="TmpTest1" preserve-order="true">
		<parameter name="env" value="qa"/>
        <parameter name="browser" value="chrome"/>
    	<parameter name="test" value="test"/>
		<groups>
			<run>
				<include name="prerequisite"/>
				<include name="regressionSuite"/>
			</run>
		</groups>
		<classes>
			<!--<class name="com.mmo.tests.SignUpTests"/>
			<class name="com.mmo.tests.SubscriptionAdminVerifyDetailTests"/>
			<class name="com.mmo.tests.CreateSubAccountTests"/>
			<class name="com.mmo.tests.SubAccountVerifyDetailTests"/>
			<class name="com.mmo.tests.JobExecutionBySubscriptionAdminTests"/>
			<class name="com.mmo.tests.JobExecutionBySubAccountTests"/>
			<class name="com.mmo.tests.JobCompletionTests"/>
			<class name="com.mmo.tests.UpgradeTests"/>
			<class name="com.mmo.tests.DegradeTests"/>
			<class name="com.mmo.tests.DeleteTests"/>
			<class name="com.mmo.tests.AddProductFlowTests"/>-->
			<class name="com.mmo.tests.SignUpTests"/>
			<class name="com.mmo.tests.SubscriptionAdminVerifyDetailTests"/>
			<class name="com.mmo.tests.CreateSubAccountTests"/>
			<class name="com.mmo.tests.SubAccountVerifyDetailTests"/>
			<class name="com.mmo.tests.JobExecutionBySubscriptionAdminTests"/>
			<class name="com.mmo.tests.JobExecutionBySubAccountTests"/>
			<class name="com.mmo.tests.JobCompletionTests"/>
			<class name="com.mmo.tests.UpgradeTests"/>
			<class name="com.mmo.tests.DeleteTests"/>
		</classes>
    </test>
</suite>